#homepage {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 50px;
    background-color: rgb(157, 189, 238);
}

#homepage a {
    color: #333;
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}